---
- name: Set host facts
  ansible.builtin.set_fact:
    repo_name: '{{ repo_name }}'
    repo_path: '{{ repo_path }}'
    secrets_env_example_path: "{{ [repo_path, docker_directory, 'secrets.env.example'] | path_join }}"
    secrets_env_path: "{{ [repo_path, docker_directory, 'secrets.env'] | path_join }}"
    docker_directory_path: '{{ [repo_path, docker_directory] | path_join }}'
    apache_site_conf_suffix: "{{ inventory_hostname_apache_site_conf_suffix if inventory_hostname != 'production' else '.conf' }}"
    env_variables_host_file: "{{ [playbook_dir, 'vars', inventory_hostname, 'env.yml'] | path_join }}"
    secret_env_variables_host_file: "{{ [playbook_dir, 'vars', inventory_hostname, 'secret_env.yml'] | path_join }}"
  vars:
    inventory_hostname_apache_site_conf_suffix: '-{{ inventory_hostname }}.conf'
    repo_name: "{{ docker_git_repo_url | regex_search('\\/([^\\/]+)\\.git', '\\1') | first }}"
    repo_path: "{{ [deploy_directory, docker_git_repo_url | regex_search('\\/([^\\/]+)\\.git', '\\1') | first] | path_join }}"

- name: Include default environment variables
  ansible.builtin.include_vars:
    file: "{{ [playbook_dir, 'vars', 'default_env.yml'] | path_join }}"
    name: env_variables

- name: Check if host specific environment variables file exists
  stat:
    path: '{{ env_variables_host_file }}'
  register: env_variables_stat
  delegate_to: localhost

- name: Include host specific environment variables
  ansible.builtin.include_vars:
    file: '{{ env_variables_host_file }}'
    name: env_variables
    hash_behaviour: merge
  when: env_variables_stat.stat.exists

- name: Include default secret environment variables
  ansible.builtin.include_vars:
    file: "{{ [playbook_dir, 'vars', 'default_secret_env.yml'] | path_join }}"
    name: secret_env_variables

- name: Check if host specific environment variables file exists
  stat:
    path: '{{ secret_env_variables_host_file }}'
  register: secret_env_variables_stat
  delegate_to: localhost

- name: Include host specific secret environment variables
  ansible.builtin.include_vars:
    file: '{{ secret_env_variables_host_file }}'
    name: secret_env_variables
    hash_behaviour: merge
  when: secret_env_variables_stat.stat.exists

- name: Perform deploy
  block:
  - name: Checkout repo
    ansible.builtin.git:
      repo: '{{ docker_git_repo_url }}'
      dest: '{{ repo_path }}'
      version: '{{ docker_git_revision }}'
      force: yes

  - name: Check if secrets.env.example exists
    ansible.builtin.stat:
      path: '{{ secrets_env_example_path }}'
    register: secrets_env

  - name: Copy secrets.env.example to secrets.env
    ansible.builtin.copy:
      remote_src: true
      src: '{{ secrets_env_example_path }}'
      dest: '{{ secrets_env_path }}'
    when: secrets_env.stat.exists

  - name: Set variables in secrets.env
    ansible.builtin.replace:
      path: '{{ secrets_env_path }}'
      regexp: '^{{ item.key }}=.*'
      replace: '{{ item.key}}={{ item.value }}'
    loop: '{{ secret_env_variables | dict2items }}'
    when: secrets_env.stat.exists

  - name: Set variables in .env
    ansible.builtin.replace:
      path: "{{ [repo_path, docker_directory, '.env'] | path_join }}"
      regexp: '^{{ item.key }}=.*'
      replace: '{{ item.key}}={{ item.value }}'
    loop: '{{ env_variables | dict2items}}'

  - name: Run docker scripts
    ansible.builtin.command: "./{{ item }}"
    args:
      chdir: "{{ [repo_path, docker_directory] | path_join }}"
    loop: "{{ docker_scripts }}"

  - name: Ensure containers are down
    ansible.builtin.shell:
      chdir: '{{ docker_directory_path }}'
      cmd: '{{ docker_command }} down'

  - name: Ensure containers are up
    ansible.builtin.shell:
      chdir: '{{ docker_directory_path }}'
      cmd: '{{ docker_command }} up -d'

  - name: Ensure apache configuration
    become: yes
    ansible.builtin.template:
      owner: root
      src: '{{ item }}'
      dest: "/opt/gub-apache2/sites/{{ item | basename | regex_replace('\\.conf\\.j2$', replace) }}"
    vars:
      replace: '{{ apache_site_conf_suffix }}'
    with_fileglob: '{{ playbook_dir }}/templates/sites/*.conf.j2'
    notify: reload apache

  - name: Check if cron configuration exists
    ansible.builtin.stat:
      path: '{{ playbook_dir }}/templates/cron.d'
    register: cron_d

  - name: Ensure cron configuration
    become: yes
    ansible.builtin.template:
      owner: root
      src: '{{ item }}'
      dest: "/etc/cron.d/{{ item | basename | regex_replace('\\.j2$','') }}"
    with_fileglob: '{{ playbook_dir }}/templates/cron.d/*.j2'
    when: cron_d.stat.exists

  when: not (skip_deploy is defined and skip_deploy)
