---
- name: Ensure data directory
  become: yes
  ansible.builtin.file:
    path: '{{ data_dir }}'
    state: directory
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0755'

- name: Ensure data sub directories
  become: yes
  ansible.builtin.file:
    path: '{{ item.value.path }}'
    state: directory
    owner: '{{ item.value.owner | default(ansible_user) }}'
    group: '{{ item.value.group | default(ansible_user) }}'
    mode: "{{ item.value.mode | default('0750') }}"
  loop: '{{ data_dirs | dict2items }}'

- name: Check if default environment variables file exists
  stat:
    path: '{{ env_variables_file }}'
  register: env_variables_file_stat
  delegate_to: localhost

- name: Include default environment variables
  ansible.builtin.include_vars:
    file: '{{ env_variables_file }}'
    name: env_variables
  when: env_variables_file_stat.stat.exists

- name: Check if host specific environment variables file exists
  stat:
    path: '{{ env_variables_host_file }}'
  register: env_variables_host_file_stat
  delegate_to: localhost

- name: Include host specific environment variables
  ansible.builtin.include_vars:
    file: '{{ env_variables_host_file }}'
    name: env_variables
    hash_behaviour: merge
  when: env_variables_host_file_stat.stat.exists

- name: Check if default secret environment variables file exists
  stat:
    path: '{{ secret_env_variables_host_file }}'
  register: secret_env_variables_file_stat
  delegate_to: localhost

- name: Include default secret environment variables
  ansible.builtin.include_vars:
    file: '{{ secret_env_variables_file }}'
    name: secret_env_variables
  when: secret_env_variables_file_stat.stat.exists

- name: Check if host specific secret environment variables file exists
  stat:
    path: '{{ secret_env_variables_host_file }}'
  register: secret_env_variables_host_file_stat
  delegate_to: localhost

- name: Include host specific secret environment variables
  ansible.builtin.include_vars:
    file: '{{ secret_env_variables_host_file }}'
    name: secret_env_variables
    hash_behaviour: merge
  when: secret_env_variables_host_file_stat.stat.exists

- name: Checkout repo
  ansible.builtin.git:
    repo: '{{ docker_git_repo_url }}'
    dest: '{{ repo_path }}'
    version: '{{ docker_git_revision }}'
    force: yes

- name: Check if secrets.env.example exists
  ansible.builtin.stat:
    path: '{{ secrets_env_example_path }}'
  register: secrets_env

- name: Copy secrets.env.example to secrets.env
  ansible.builtin.copy:
    remote_src: true
    src: '{{ secrets_env_example_path }}'
    dest: '{{ secrets_env_path }}'
  when: secrets_env.stat.exists

- name: Set variables in secrets.env
  ansible.builtin.replace:
    path: '{{ secrets_env_path }}'
    regexp: '^{{ item.key }}=.*'
    replace: '{{ item.key}}={{ item.value }}'
  loop: '{{ secret_env_variables | dict2items }}'
  when: secrets_env.stat.exists

- name: Set variables in .env
  ansible.builtin.replace:
    path: "{{ [repo_path, docker_directory, '.env'] | path_join }}"
    regexp: '^{{ item.key }}=.*'
    replace: '{{ item.key}}={{ item.value }}'
  loop: '{{ env_variables | dict2items}}'

- name: Run docker scripts
  ansible.builtin.command: "./{{ item }}"
  args:
    chdir: "{{ [repo_path, docker_directory] | path_join }}"
  loop: "{{ docker_scripts }}"

- block:
    - name: Ensure containers are down
      ansible.builtin.shell:
        chdir: '{{ docker_directory_path }}'
        cmd: '{{ docker_command }} down'

    - name: Ensure containers are up
      ansible.builtin.shell:
        chdir: '{{ docker_directory_path }}'
        cmd: '{{ docker_command }} up -d'
  tags: restart

- name: Ensure apache configuration
  become: yes
  ansible.builtin.template:
    owner: root
    src: '{{ item }}'
    dest: "/opt/gub-apache2/sites/{{ item | basename | regex_replace('\\.conf\\.j2$', replace) }}"
  vars:
    replace: '{{ apache_site_conf_suffix }}'
  with_fileglob: '{{ playbook_dir }}/templates/sites/*.conf.j2'
  notify: reload apache

- name: Check if cron configuration exists
  ansible.builtin.stat:
    path: '{{ playbook_dir }}/templates/cron.d'
  register: cron_d

- name: Ensure cron configuration
  become: yes
  ansible.builtin.template:
    owner: root
    src: '{{ item }}'
    dest: "/etc/cron.d/{{ item | basename | regex_replace('\\.j2$','') }}"
  with_fileglob: '{{ playbook_dir }}/templates/cron.d/*.j2'
  when: cron_d.stat.exists
